.body {
    
    display: flex;
    background-size: cover;
    text-align: center;
    justify-content: center;
    padding: 0.8rem;
    padding-bottom: 1.5rem;
  }
  .title {
    font-size: 1.2rem;
    width: 70%;
    padding: 2% 3%;
    color: black;
    text-align: center;
  }
  .title h1 {
    margin: 1.5rem;
  }
  .title p {
    margin: 1.5rem;
  }
  /*
  */
  a:hover {
    background-color: #16223c;
    border-radius: 10px;
  }
  .next {
    float: right;
    margin-top: 45px;
    size: 30px;
    font-size: 35px;
  }
  .prev {
    float: left;
    margin-top: 45px;
    size: 30px;
    font-size: 35px;
  }
  .button {
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.4rem;
  }
  .hello {
    color: aliceblue;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  #vello {
    cursor: pointer;
  }
  button:hover {
    background-color: gold;
  }