*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.page_header{
    background-color: #5c5c8a;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    display: flex;
}
.fields{
    display:flex;
}
.fields a{
    font-size: 13px;
    text-decoration: none;
    color: royalblue;
    margin: 0 10px;
}
.title1 {
    font-size: 27px;
    color: white;
    flex: 1;
    margin-left: 10px;
}