*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
    background-size: cover;
    background-position: center;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15;
    
}
.menubar
{
    background-color: rgb(3, 56, 58);
    height: 50;
    text-align: center;
    
    
}
.menubar ul{
    display: inline-flex;
    padding: 12px;
    color: white;
    list-style: none;
}

.menubar ul li{
    width: 100;
    
}
.menubar ul li a{
    text-decoration: none;
    color: white;
}
.active,.menubar ul li:hover{
    background-color: rgb(115, 191, 194);
    border-radius: 2px;
    
}
.menubar .fa{
    margin-left: 8px;
}
lable.logo{
font-size: 25px;
font-weight: bold;
font-style: italic;
color: white;
padding:0 150px;

}
p{
    color:aliceblue;
    position: absolute;
    top:20%;
    left:20%;
    font-size: 30;
    font-family: 'Times New Roman', Times, serif;
}
p1{
    color:aliceblue;
    position: absolute;
    top:30%;
    left:20%;
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.box{
    text-align: center;
}
.button{
    font-size: 1em;
    padding: 15px 35px;
    color:#fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background :rgb(3, 56, 58);
    border-radius: 50px;
    position: absolute;
    top:50%;
    left:50%;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity:0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.wrapper{
    margin: 70px auto;
    padding: 20px;
    background:#e7e7e7;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease ease-in-out;
}
.wrapper h2{
    margin-top: 0;
    color: #333;
}
.wrapper .close{
    position: absolute;
    top:20px;
    right:30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.wrapper.content{
    max-height:30%;
    overflow: auto;
}
form lable{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}
input[type=text], textarea{
    width:100%;
    padding:9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 4px;
    resize: vertical;
}
input[type=number], textarea{
    width:100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 4px;
    resize: vertical;
}
input[type=date], textarea{
    width:100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 4px;
    resize: vertical;
}
input[type=radio] {
    padding: 20%;
}
input[type=submit]{
    background-color: #413b3b;
    color: #fff;
    padding: 10px 20px;
    
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    margin-left: 35%;
    
}