<div class="head">
    <h2>OUR PRODUCT</h2>
    <br />
  </div>
  <div class="one1">
    <div class="box">
      <div class="icn">
        <img src="http://localhost/icn-1 (1).png" alt="icn" />
      </div>
      <div class="txt">
        <h2 class="galo">SEO</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum fuga
          omnis asperiores cumque facere eveniet numquam quis excepturi eaque
          magnam!
        </p>
      </div>
    </div>
    <div class="box">
      <div class="icn">
        <img src="http://localhost/icn-1 (1).png" alt="icn" />
      </div>
      <div class="txt">
        <h2 class="galo">BRANDING</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum fuga
          omnis asperiores cumque facere eveniet numquam quis excepturi eaque
          magnam!
        </p>
      </div>
    </div>
    <div class="box">
      <div class="icn">
        <img src="http://localhost/icn-1 (1).png" alt="icn" />
      </div>
      <div class="txt">
        <h2 class="galo">LOGO</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum fuga
          omnis asperiores cumque facere eveniet numquam quis excepturi eaque
          magnam!
        </p>
      </div>
    </div>
  </div>
