*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

    .header img {
        height: 50px;
        width: 80px;
        margin-left: 200px;
    }


.fields {
    margin-right: 200px;
    display: flex;
}

    .fields a {
        color: black;
        font-size: 22px;
        text-decoration: none;
        margin: 0 10px;
    }